<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="FavouriteVips" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <appSettings>
    <add key="VipInfoService" value="http://octopussds:1111" />
    <add key="DefaultVipName" value="vip_hv_ap_qas_sdsitgn_2223" />
    <add key="DefaultRegex" value="" />
  </appSettings>

  <FavouriteVips>
    <add key="vip_sds_parsing_forconsumers_feitgn_80" value="AP for GeoWCF on FEITGN"/>
    <add key="vip_sds_parsing_forconsumers_sdsitgn_80" value="AP for GeoWCF on SDSITGN"/>
  </FavouriteVips>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>